.header-item {
	position: absolute;
	z-index: 4;
	top: 8%;
}

.logo {
	left: 13%;
	a {
		font-size: 1.2rem;
		letter-spacing: 0.5rem;
		color: $black;
		text-decoration: none;
		font-weight: 700;
	}
	@include media('>tablet', '<=1024px') {
		left: 4%;
	}
	@include media('<=tablet') {
		left: 5%;
	}
	@include media('<=phone') {
		left: 6.5%;
	}
}
.nav-toggle {
	cursor: pointer;
	right: 13%;
	display: flex;
	justify-content: center;
	align-items: center;
	@include media('<=tablet') {
		margin-right: 24px;
	}
	@include media('<=phone') {
		width: 20px;
		margin-right: 16px;
	}

	.hamburger-menu {
		width: 25px;
		span {
			text-align: center;
			margin-bottom: 0.3rem;
			background: $black;
			height: 2px;
			width: 100%;
			display: block;
		}
	}
	.hamburger-menu-close {
		position: absolute;
		display: none;

		svg {
			@include media('<=tablet') {
				width: 56px;
			}
			@include media('<=phone') {
				width: 48px;
			}
		}
	}
}
